th,td{
    border-bottom: 1px solid #ddd;
    padding: 10px, 20px;
    word-break: break-all;
    text-align: center;
}


.container-encuesta{
    width: 700px;
    margin: auto;
    padding: 20px;
  }

  .encuesta{
    border: 2px solid #a0a0a0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0; 
  }